.container-fluid {
    height: 100vh;
  }
  
  .card {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  @media screen and (min-width: 768px) {
    .card {
      max-width: 1020px;
    }
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .card h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .card h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
  }
  
  th {
    font-weight: 600;
  }
  tr{
    cursor: pointer;
  }  
  tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  .selected {
    background-color: #b3d4ff;
    color: black;
  }
  tr.selected {
    background-color: #b3d4ff;
    color: black;
    cursor: default;
  }
  .header-row {
    cursor: default;
  }
  .back-button {
    position: absolute;
    top: 35px; 
    left: 35px; 
    color: #333; 
  }
  
