<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="card p-5 col-lg-8 col-md-12">
    <fa-icon class="btn back-button" (click)="goBack()" icon="circle-arrow-left" size="2x"></fa-icon>
    <h1 class="text-center mb-5">Itineraries</h1>
    <ng-container *ngIf="flightsData.length > 0; else noFlights">
      <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr class="header-row">
            <th>Airlines</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Departure Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flightsData;" [class.selected]="selectedFlightId === flight?.id" (click)="onFlightClick(flight?.id)">
            <td>{{flight?.operatingAirlines}}</td>
            <td>{{flight?.departureCity}}</td>
            <td>{{flight?.arrivalCity}}</td>
            <td>{{formatDate(flight?.estimatedDepartureTime)}}</td>
          </tr>
        </tbody>      
      </table>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-primary" (click)="onSelect(selectedFlightId)" [disabled]="!selectedFlightId">Select Flight</button>
      </div>
    </ng-container>
    <ng-template #noFlights>
      <div class="text-center mt-4">
        <p>No flights available.</p>
        <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
      </div>
    </ng-template>
  </div>
</div>
