.card p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-group input::-webkit-input-placeholder {
    color: #6c757d;
  }
  
  .form-group input:-ms-input-placeholder {
    color: #6c757d;
  }
  
  .form-group input::-ms-input-placeholder {
    color: #6c757d;
  }
  
  .form-group input::placeholder {
    color: #6c757d;
  }
  