  <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="card p-5 col-lg-6 col-md-12">
      <h1 class="text-center mb-5">Book Flight</h1>
      <form [formGroup]="findFlightsForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="from">From:</label>
              <div class="input-group">
                <input type="text" class="form-control" name="from" formControlName="from" placeholder="Enter departure city" (keyup)="filterAirports($event)" autocomplete="off">
                <div class="input-group-append">
                  <button *ngIf="showClearButton('from')" type="button" class="btn btn-outline-secondary clear-button" (click)="clearAirport('from')">
                    <fa-icon icon="times-circle"></fa-icon>
                  </button>
                </div>
              </div>
              <ul *ngIf="this.filteredAirports.length > 0 && currentControl == 'from'" class="list-group">
                <li class="list-group-item" *ngFor="let airport of filteredAirports" (click)="selectAirport(airport)">
                  {{ airport.code }} - {{ airport.name }}
                  <br>
                  <span class="list-small-item">{{ airport.country }}</span>   
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="to">To:</label><div class="input-group">
                <input type="text" class="form-control" name="to" formControlName="to" placeholder="Enter destination city" (keyup)="filterAirports($event)" autocomplete="off">
                <div class="input-group-append">
                  <button *ngIf="showClearButton('to')" type="button" class="btn btn-outline-secondary clear-button" (click)="clearAirport('to')">
                    <fa-icon icon="times-circle"></fa-icon>
                  </button>
                </div>
              </div>
              <ul *ngIf="this.filteredAirports.length > 0 && currentControl == 'to'" class="list-group">
                <li class="list-group-item" *ngFor="let airport of filteredAirports" (click)="selectAirport(airport)">
                  {{ airport.code }} - {{ airport.name }}
                  <br>
                  <span class="list-small-item">{{ airport.country }}</span>   
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="departureDate">Departure Date:</label>
              <input type="date" class="form-control" name="departureDate" formControlName="departureDate" placeholder="Enter departure date" min="{{minDate()}}" max="{{maxDate()}}" (change)="onDateSelected($event)">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary mt-3">Search Flights</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  