<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="card p-5 col-lg-6 col-md-12">
      <h1 class="text-center mb-5">Booking Confirmation</h1>
      <div class="confirmation-details text-center">
        <h2>Reservation Details</h2>
        <p>Thank you for booking your flight with us. A confirmation email has been sent to your registered email address.</p>
        <p>Please ensure you check in at least 4 hours before the scheduled departure time.</p>
        <p>Your confirmation code is: <strong>{{reservationId}}</strong></p>
        <button routerLink="/" class="btn btn-primary mt-3">Home</button>
      </div>
    </div>
  </div>
  