<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="card p-5 col-lg-8 col-md-12">
      <h1 class="text-center mb-5">Thank you for checking in!</h1>
      <h2 class="text-center mb-5">We hope you have a nice flight.</h2>
      <div class="footer text-center">
        <p>Find me on:</p>
        <a href="https://github.com/KyrXtz" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="['fab', 'github']" class="large-icon"></fa-icon>
        </a>
        <span> | </span>
        <a href="https://linkedin.com/in/kyriakosch" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'linkedin']" class="large-icon"></fa-icon>
        </a>
        <span> | </span>
        <a href="https://kyriakosch.ddns.net" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fas', 'globe']" class="large-icon"></fa-icon>
        </a>     
      </div>
    </div>
  </div>
  