<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="card p-5 col-lg-8 col-md-12">
      <h1 class="text-center mb-5">Complete Reservation</h1>
      <div class="flight-details">
        <h2>Flight Details:</h2>
        <table class="table table-borderless">
          <tr>
            <th>Airline</th>
            <td>{{flightData?.operatingAirlines}}</td>
          </tr>
          <tr>
            <th>Departure City</th>
            <td>{{flightData?.departureCity}}</td>
          </tr>
          <tr>
            <th>Arrival City</th>
            <td>{{flightData?.arrivalCity}}</td>
          </tr>
          <tr>
            <th>Departure Date Time</th>
            <td>{{formatDate(flightData?.estimatedDepartureTime)}}</td>
          </tr>
        </table>
      </div>
      <div class="flight-details">
        <h2 class="mt-4">Passenger Details</h2>
        <form [formGroup]="passengerDetailsForm" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="form-group">
            <label for="passengerFirstName">First Name:</label>
            <input type="text" id="passengerFirstName" class="form-control" name="passengerFirstName" formControlName="passengerFirstName"/>
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerFirstName')?.touched && passengerDetailsForm.get('passengerFirstName')?.errors?.['required']" class="alert alert-danger">
            First Name is required!
          </div>
        
          <div class="form-group">
            <label for="passengerLastName">Last Name:</label>
            <input type="text" id="passengerLastName" class="form-control" name="passengerLastName" formControlName="passengerLastName"/>
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerLastName')?.touched && passengerDetailsForm.get('passengerLastName')?.errors?.['required']" class="alert alert-danger">
            Last Name is required!
          </div>
        
          <div class="form-group">
            <label for="middleName">Middle Name:</label>
            <input type="text" id="passengerMiddleName" class="form-control" name="passengerMiddleName" formControlName="passengerMiddleName"/>
          </div>
        
          <div class="form-group">
            <label for="passengerEmail">Email:</label>
            <input type="text" id="passengerEmail" class="form-control" name="passengerEmail" formControlName="passengerEmail"/>
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerEmail')?.touched && passengerDetailsForm.get('passengerEmail')?.errors?.['required']" class="alert alert-danger">
            Email is required!
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerEmail')?.touched && passengerDetailsForm.get('passengerEmail')?.errors?.['email']" class="alert alert-danger">
            Email is not valid!
          </div>
        
          <div class="form-group">
            <label for="passengerPhone">Phone:</label>
            <input type="text" id="passengerPhone" class="form-control" name="passengerPhone" formControlName="passengerPhone"/>
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerPhone')?.touched && (passengerDetailsForm.get('passengerPhone')?.errors?.['required'])" class="alert alert-danger">
            Phone number is required!
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerPhone')?.touched && passengerDetailsForm.get('passengerPhone')?.errors?.['minlength']" class="alert alert-danger">
            Phone number is invalid!
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerPhone')?.touched && passengerDetailsForm.get('passengerPhone')?.errors?.['maxlength']" class="alert alert-danger">
            Phone number is invalid!
          </div>
          <div *ngIf="passengerDetailsForm.get('passengerPhone')?.touched && passengerDetailsForm.get('passengerPhone')?.errors?.['pattern']" class="alert alert-danger">
            Phone number is invalid!
          </div>
          <button type="submit" class="btn btn-primary mt-3" [disabled]="passengerDetailsForm.invalid">Book</button>
        </form>
        
    </div>
    </div>
  </div>
  