<html>
    <head>
        <title>Complete Reservation</title>
    </head>
    <body>
        <h2>Complete Reservation:</h2>
        <h3>Flight Details:</h3>
        Airline: {{flightData?.operatingAirlines}} <br/>
        Departure City: {{flightData?.departureCity}} <br/>
        Arrival City: {{flightData?.arrivalCity}} <br/>
        Departure Date Time: {{flightData?.dateOfDeparture}} <br/>

        <h2>Passenger Details</h2>
        <form [formGroup]="passengerDetailsForm" (ngSubmit)="onSubmit()">
            <pre>
                First Name: <input type="text" name="firstName" formControlName="firstName"/>
                Last Name: <input type="text" name="lastName" formControlName="lastName"/>
                Middle Name: <input type="text" name="middleName" formControlName="middleName"/>
                Email: <input type="text" name="email" formControlName="email"/>
                Phone: <input type="text" name="passengerPhone" formControlName="passengerPhone"/>
                <input type="submit" value="Book">
            </pre>
        </form>
    </body>
</html>
